<div class="navbar-adler navbar-top">
  <div class="navbar-wagon-right hidden-xs hidden-sm">
     <div class="menu-right">
      <a href="" class="navbar-wagon-item navbar-wagon-link">DE|EN</a>
      <%= link_to 'Bauherr', 'bauherr.html', class:"navbar-wagon-item navbar-wagon-link" %>
    </div>
  </div>
</div>
<div class="navbar-adler navbar-bottom">


  <div class="hidden-xs hidden-sm">


    <div class="menu-left">
      <%= link_to 'Home', 'index.html', class:"navbar-wagon-item navbar-wagon-link" %>
      <%= link_to 'Lage', 'lage.html', class:"navbar-wagon-item navbar-wagon-link" %>
      <%= link_to 'Konzept', 'konzept.html', class:"navbar-wagon-item navbar-wagon-link" %>
      <%= link_to 'Wohnen', 'wohnen.html', class:"navbar-wagon-item navbar-wagon-link" %>
      <%= link_to 'Community', 'community.html', class:"navbar-wagon-item navbar-wagon-link" %>
      <%= link_to 'Kontakt', 'kontakt.html', class:"navbar-wagon-item navbar-wagon-link" %>
    </div>

  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
      <li><%= link_to 'Home', 'index.html', class:"navbar-wagon-item navbar-wagon-link" %></li>
      <li><%= link_to 'Lage', 'lage.html', class:"navbar-wagon-item navbar-wagon-link" %></li>
      <li><%= link_to 'Konzept', 'konzept.html', class:"navbar-wagon-item navbar-wagon-link" %></li>
      <li><%= link_to 'Wohnen', 'wohnen.html', class:"navbar-wagon-item navbar-wagon-link" %></li>
      <li><%= link_to 'Community', 'community.html', class:"navbar-wagon-item navbar-wagon-link" %></li>
      <li><%= link_to 'Kontakt', 'kontakt.html', class:"navbar-wagon-item navbar-wagon-link" %></li>
      <li><%= link_to 'Bauherr', 'bauherr.html', class:"navbar-wagon-item navbar-wagon-link" %></li>
      </ul>
    </div>
  </div>

</div>
