---
title: Residenz Adler - Lage
---



<div id="community">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path("visualizations/projekt-blick.png") %>);">
  </div>

    <h1><%= data.community.title %></h1>

    <div class="intro">
      <div class="intro-left">

        <%= image_tag "visualizations/project-view5.jpg" %>
      </div>
      <div class="intro-right">
        <h2><%= data.community.intro.title %></h2>
        <p><%= data.community.intro.description %></p>
      </div>
  </div>

  <div class="highlight-container">
    <h2><%= data.community.highlight %></h2>
    <div class="highlight-cards">
      <% data.community.highlights.each do |highlight| %>

      <div class="card">
        <div class="card-img">
          <%= image_tag "visualizations/#{highlight.image}" %>
        </div>
        <div class="card-desc">
          <h5><%= highlight.title %></h5>
          <p><%= highlight.description %></p>
        </div>
      </div>
    <% end %>
    </div>
  </div>

</div>

<%= partial "layouts/contact" %>
