---
title: Residenz Adler
---

<div id="home">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path('photos/2017-06-27-panorama1.jpg') %>);">
    <div class="banner-content">
      <h1><%= data.home.title %></h1>
      <p><%= data.home.tagline %></p>
    </div>
  </div>
  <div class="container">

  </div>
  <div class="intro">
    <div class="intro-left">
        <h2><%= data.home.intro.title %></h2>
      </div>

      <div class="intro-right">
        <h3><%= data.home.intro.welcome %></h3>
        <p>
          <%= data.home.intro.welcometext %>
        </p>
      </div>
    </div>
  </div>
  <div class="background-white nomargin">
    <div class="container highlights">
      <div class="row">

        <% data.home.highlights.each do |highlight| %>

        <div class="nopadding col-xs-12 col-sm-6 col-md-4 highlight">
          <div class="icon">
            <i class="<%= highlight.icon %>"></i>
          </div>
          <div class="highlight-text">
            <h3> <%= highlight.title %> </h3>
            <p><%= highlight.description %></p>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="overall-pers">
    <div class="pers" style="background-image: url(<%= image_path "visualizations/project-view1.jpg" %>);">
    </div>
    <h2 class="text-center">
      <%= data.home.motto %>
    </h2>
  </div>
  <div class="container">
    <div class="apart-options">
      <% data.home.wohnangebot.each do |item| %>

      <div class="card">
        <div class="card-title" style="background-image: url(<%= image_path "visualizations/#{item.image}" %>">
          <h4><%= item.title %></h4>
        </div>
        <ul>
          <li><%= item.arg1 %></li>
          <li><%= item.arg2 %></li>
          <li><%= item.arg3 %></li>
        </ul>
        <%= link_to "Zum Wohnangebot", "#" %>
      </div>
      <% end %>
    </div>
  </div>
</div>


<%= partial "layouts/contact" %>   <!-- inject layouts/_navbar.html.erb -->
