---
title: Residenz Adler - Konzept
---

<div id="konzept">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path('visualizations/projekt-blick.png') %>);">
    <h1>
      BANNER with video
    </h1>
  </div>

  <div class="concept">
    <h2 class="nomargin">
      <%= data.konzept.motto %>
    </h2>
    <div class="container">
      <div class="row">


        <div class="concept-content">
          <% data.konzept.content.each do |concept| %>
          <div class="block col-xs-12 col-md-6 col-lg-4">

            <h3><%= concept.title.upcase %></h3>
            <%= image_tag concept.image %>
            <p><%= concept.description %></p>
            <%= link_to "mehr sehen", "\##{concept.title.downcase}" %>
          </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>

  <div id="idee">


  </div>
  <div id="areal">
    AREAL
  </div>
  <div id="architektur">
    ARCHITEKTUR
  </div>
</div>
