---
title: Residenz Adler - Lage
---



<div id="lage">
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path("visualizations/projekt-blick.png") %>);">
  </div>

  <h1><%= data.lage.title %></h1>

  <div class="intro">

    <div class="intro-left">
      <%= image_tag "visualizations/project-view5.jpg" %>
    </div>
    <div class="intro-right">
      <h2><%= data.lage.intro.title %></h2>
      <p><%= data.lage.intro.description %></p>
    </div>
  </div>

  <div class="highlight-container">
    <h2><%= data.lage.highlight %></h2>
    <div class="highlight-cards">
      <% data.lage.highlights.each do |highlight| %>

      <div class="card">
        <div class="card-img">
          <%= image_tag "visualizations/#{highlight.image}" %>
        </div>
        <div class="card-desc">
          <h5><%= highlight.title %></h5>
          <p><%= highlight.description %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div id="map">

  </div>

</div>

<%= partial "layouts/contact" %>

<script>
  function initMap() {
    const adler = {lat: 52.357985, lng: 12.985851};
    const map = new google.maps.Map(document.getElementById('map'), {
      zoom: 13,
      center: adler
    });
    const marker = new google.maps.Marker({
      position: adler,
      map: map
    });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBExqlbbBH-wlmBGEDVUCXPAUvR6rZ-b_Y&callback=initMap">
</script>
